body {
    background-color: rgb(255, 222, 222);
}

h1 {
    text-align: center;
    color: #2a75bb;
}

h2 {
    color: #2a75bb;
    margin-top: 30px;
}

h3{
    color: #2a75bb;
}

.form-box {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: large;
}

button {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #2a75bb;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1f5c8f;
}

#getAPI {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

#content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    max-height: 400px;
    overflow-y: auto;
}

#apiDoc {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

table,
th,
td {
    border: 1px solid black;
}

.endpoint {
    font-weight: bold;
    background-color: gray;
    color: white;
}